@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	font-family: 'Patrick Hand', cursive;
}

#movies img,
#movie img {
	width: 100%;
}

@media (min-width: 960px) {
	#movies .col-md-3 .well {
		height: 390px;
	}

	#movies .col-md-3 img {
		height: 240px;
	}
}

.jumbotron {
	background-image: url("background.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 10px;
	background-size: 1150px 300px;
}
