@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
	font-family: 'Patrick Hand', cursive;
	background-image: url("deadpool.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#movies img,
#movie img {
	width: 100%;
}

@media (min-width: 960px) {
	#movies .col-md-3 .well {
		height: 390px;
	}

	#movies .col-md-3 img {
		height: 240px;
	}
}
